# dependencies
/node_modules
/.pnp
.pnp.*

# next
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# production
/build
/dist

# env
.env
.env*.local

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.pem
/coverage

# editor
.idea
.vscode/*
!.vscode/extensions.json

# pm2 / deploy
.pm2/
